# 2025 - Modified by MetaX Integrated Circuits (Shanghai) Co., Ltd. All Rights Reserved.
boto3>=1.28.43
Brotli>=1.1.0
click>=8.1.7
fast-langdetect>=0.2.3,<0.3.0
loguru>=0.6.0
numpy>=1.21.6
pydantic>=2.7.2,<2.11
PyMuPDF>=1.24.9,<1.25.0
scikit-learn>=1.0.2
pdfminer.six==20250506
tqdm>=4.67.1
albumentations==1.4.24
numpy
omegaconf
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
pillow
timm
matplotlib
ultralytics
doclayout_yolo
dill
PyYAML
ftfy
openai
shapely
pyclipper
omegaconf
albumentations
rapid_table==1.0.5
qwen-vl-utils[decord]==0.0.8
pytest
Levenshtein
nltk
rapidfuzz
statistics
openxlab #安装opendatalab
pandas
numpy==1.26.3
matplotlib
seaborn
scipy
scikit-learn
tqdm
pypandoc
pyopenssl
pytest-cov
beautifulsoup4
coverage
modelscope
accelerate==1.4.0
tokenizers
transformers==4.49.0
fastapi
uvicorn
python-multipart
# The requirements.txt must ensure that only necessary external dependencies are introduced. If there are new dependencies to add, please contact the project administrator.
conda
huggingface_hub